p {
padding-right: 25px
}
[name="confirm"]{
  margin-top: -36px;
}
 [name="passWord"]{
   padding-right: 13px
 }
 [name="userName"]{
  padding-right: 9px
}

[name="submit"] {
  font-size: 20px; background: blue; color: white;
}


table {
  border: 1px solid black;
  border-collapse: collapse;
  
}
h1 {
  font-size: 60px
}
